*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/assets/best-fp16-yolov5m.tflite
/app/src/main/assets/best-fp16.tflite

/.gradle/
/.idea/
